language: cpp
compiler:
  - g++

os:
  - linux

install:
  - sudo pip install codecov
  #- sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 90
  #- sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.9 90
  #- sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-4.9 90

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake-data
      - cmake
      - g++
script:
  - cmake . && make
  - ./main-test

after_success:
    # Creating report
  - cd ${TRAVIS_BUILD_DIR}/
  - pwd
  - cd CMakeFiles/main-test.dir/tests
  - pwd
  - ls
  - rm third/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.gcno
  - rm third/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.gcno
  - codecov